<h1 class='page-title'>Shelter List</h1>
<ul id="shelters-index">
  <% @shelters.each do |shelter| %>
    <li><%= link_to shelter.name, "/shelters/#{shelter.id}", class: 'shelter-name' %></li>
    <a><%= link_to 'Edit', "/shelters/#{shelter.id}/edit" %></a>
    
  <% end %>
</ul>
<%= link_to 'New Shelter', '/shelters/new', class: 'new-shelter-link' %>
